/* common selector start */

:root {
    --brand-color: #9ed034;
    --primary-color:  #888;;
    --color-white: #fff;
    --color-dark: #000;
    --border-width: 2px;
    --btn-padding: 10px 65px;
}

/* nav section start*/
.nav_section .container{
	background: var(--color-white);
	left: 100px;
	top: 60px;
	position: absolute;
	z-index: 9999;
}
.nav_section .logo-pic a{
	display: flex;
	align-content: center;
	justify-content: start;
}
.nav_section .nav_menu {
	display: flex;
	justify-content: end;
}
.nav_section .nav_menu a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 100px;
	text-decoration: none;
	padding-right: 10px;
	color: var(--primary-color);
	border-right:1px solid #e2e1e1;
}
.nav_section .nav_menu a:hover{
	color: var(--brand-color);
}
.nav_section .nav_menu .fastmenu{
	width: 100px;
	height: 100px;
	color: var(--color-white);
	background: var(--brand-color);
}
.nav_section .nav_menu .fastmenu:hover{
	color: #fff;
}
.nav_section .nav_menu .lastmenu{
	border-right: none;
}
/* nav section end*/

/* header section start */

.header_section{
	background: rgba(0, 0, 0, .7);
	position: relative;
}
/* .booking_section */
.header_section .booking_section{
	left: 100px;
	top: 250px;
	position: absolute;
	background: var(--color-white);
	width: 380px;
	height: 320px;
}
.header_section .booking_section h1{
	color: var(--color-white);
	background: #E54747;
	width: 150px;
	height: 50px;
	align-items: center;
	align-self: center;
}
.header_section .booking_section p{
color: var(--primary-color);
}
/* .booking_section_button */
.header_section .booking_section .btn{
	background: var(--brand-color);
	border-radius: none;
	border-color: var(--brand-color);
	width: 160px;
	height: 40px;
}
/* next/previous button */
.header_section .next_button{
	display: flex;
	align-items: center;
	justify-content: end;
	right: 0px;
	position: absolute;
	width: 40px;
	height: 50px;
	background: var(--color-white);
	color: var(--color-dark);
}
.header_section .previous_button{
	display: flex;
	align-items: center;
	justify-content: start;
	left: 0px;
	position: absolute;
	width: 40px;
	height: 50px;
	background: var(--color-white);
	color: var(--color-dark);
}
/* header section end */

/*partner_section start*/
.partner_section{
	display: flex;
	align-items: center;
	align-content: center;
	height: 150px;
	background: #EEEEEE;
}
.partner_section .image-fluid{
	margin-top: 35px;
	margin-bottom: 35px;
	width: 100px;
	height: 80px;
}
.partner_section .col-md-2{
	display: flex;
	justify-content: center;
	border-right: 1px solid #d4d2d2;
}
.partner_section .fast-icon {
	padding-left: 50px;
	padding-right: 40px;
	border-left: 1px solid #d4d2d2;
}
/*footer start*/
.footer_section .social_icon i{
	color: var(--brand-color);
	padding-left: 40px;
}
.footer_section .social_icon a{
	text-decoration: none;
}
.footer_section .copyright {
	display: inline-block;
	text-decoration: none;
}
.footer_section .copyright a {
	color: var(--brand-color);
	text-decoration: none;
}

/*footer end*/